<h1>Topics</h1>
<div class="row">
  <div class="col-md-4">
    <%= link_to "New", new_topic_path(@topic), class: 'btn btn-success' %>
  </div>
</div><br>

<% @topics.each do |topic| %>
  <div class="col-xs-2">
    <div class="img-thumbnail">
      <%= link_to topic.title, topic %>
    </div>
  </div>
<% end %>