@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
   margin-top: 9px;
 }
 
.nav {
  margin-top: 5px;
}

.media {
  .media-left.no-padding {
    padding-right: 0px;
  }
}

.like {
  margin-top: 20px;
}